<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="ptBR" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Área do Médico </title> 
    <link rel="stylesheet" href="css/lgstyle copy.css">
    <link rel="stylesheet" href="css/agenda.css">
    
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
    <script src="../js/areacliente.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../js/chat.js"></script>
   </head>
<body>
    <header>
        
        <header>
            <img class="logo" href="/" src="images/logo.png" alt="logo" style="max-width: 340px;">
            
            <a class="cta" href="/"><button type="button">Sair</button></a>
        </header>
      
    </header>
  <div class="wrapper" style="margin-top: 120px;">
    
    <div class='agenda'>
      <h3>Sua Agenda</h2>
      <div id='calendar'>
    </div>
    </div>
    <div class='ochat'>
      <div class="chat">
        <div class="chat-title">
          <h1>Emily Azevedo Silva</h1>
          <h2>Ortopedista</h2>
          <figure class="avatar">
            <img src="https://img.freepik.com/fotos-premium/retrato-da-b…u-as-maos-e-sorrindo-para-a-camera_533057-127.jpg" alt="">
          </figure>
        </div>
        <div class="messages">
          <div id='element1' class="messages-content"></div>
        </div>
        <div class="message-box">
          <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
          <button type="submit" class="message-submit" style="width: 100px; height: 20px;" >Send</button>
        </div>
      </div>
    </div>
    
  </div>

  <footer class="footerHome">
    <div class="authors">
      <div class="author">
        <h4>Gabriel Augusto</h4>
        <img class="pfp" style="max-height: 100px;" src="images/gab.png">
        <a href="https://www.linkedin.com/in/gabriel-freitas-159b68282?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Linkedin</a>
  
      </div>
      <div class="author">
        <h4>Isabella Simone</h4>
        <img class="pfp" style="max-height: 100px;" src="images/isa.png">
        <a href="https://www.linkedin.com/in/isabellasdossantos?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">Linkedin</a>
  
      </div>
      <div class="author">
        <h4>Rodrigo Oliveira</h4>
        <img class="pfp" style="max-height: 100px;" src="images/toka.png">
        <a href="https://www.linkedin.com/in/rodrigo-oliveira-da-silva-114047243?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Linkedin</a>
  
      </div>
      <div class="author">
        <h4>Adrielle Moreira</h4>
        <img class="pfp" style="max-height: 100px;" src="images/dri.jpg">
        <a href="https://www.linkedin.com/in/adrielle-moreira-0a7492197?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Linkedin</a>

      </div>

      <div class="author">
        <h4>Eduardo Rossetto</h4>
        <img class="pfp" style="max-height: 100px;" src="images/edu.jpg">
        <a href="https://www.linkedin.com/in/eduardo-rossetto/">Linkedin</a>

      </div>

    </div>
  </footer>
  
</body>
</html>